.title {
    text-align: center;
}

.biiig {
    font-size:xx-large;
}

.container {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #bebebe,
                 -15px -15px 50px #ffffff;
    padding: 0 25px;
}
